img {
    width: 300px;
    margin-top: 50px;   
    margin-right: 10px;
    margin-bottom: 15px; 
    margin-left: 15px; 
    transition: transform 0.2s;
}

body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-image: url("bobabackground.PNG");
    background-position: center;
}

.button {
    border: none;       
    padding: 0;
    background: none;
    cursor: pointer;
}

